*{
    padding: 0px;
    border: 0px;
}

/* TOP FRAME STYLING */
.top_frame{
    background-color: azure;
}
.nav{
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 2px;
}
.nav:hover{
    font-size: 1.3rem;
    color: white;
    background-color: black;
}
#college{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(120, 62, 0);
}

/* LEFT FRAME STYLING */


/* MAIN FRAME STYLING */

